<div class="container" data-ng-cloak data-ng-controller="globalCtrl" >
	<div class="row">
		<div class="col-lg-2 " >
		</div><!-- col-lg-2   -->
          
		<div class="col-lg-10" data-ng-hide="responsive">
			<label class="control-label col-sm-10" for="picture_name"><p class="bg-danger">Vous n'avez pas assez de privilèges pour accéder à ces informations.</p></label>
		</div><!-- col-lg-10   -->
		<div class="col-lg-10" data-ng-show="responsive">
			<label class="control-label col-sm-10" for="picture_name"><p class="bg-danger">Vous n'avez pas assez de privilèges pour accéder à ces informations.</p></label>
		</div><!-- col-lg-10   -->
	</div><!-- row -->
</div> <!-- container   -->
